/* STANDARD BODY TAG STYLES */
h1 {
  text-align: center;
  padding-left: 40 px;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  margin: 5px auto;
  padding-left: 30px;
  font-size: 12px;
  color: grey;
}
hr {
  border-top: 2px dotted grey;
  margin: 15px;
}

a {
  text-decoration: none;
}

/* CUSTOMISED BODY STYLES */
/* Search city form */

#change-city-form {
  margin: 0px auto;
  padding: 0px 30px;
  max-width: 80%;
}
#change-city-form input {
  margin: 10px 10px;
  padding: 0px 10px;

  text-align: center;
  font-size: 12px;
}

#current-location-button {
  margin: 0;
  line-height: normal;
  padding: 0;
}
/* Main weather app box */
.main-app-box {
  margin: 20px auto;
  padding: 20px 20px;
  max-width: 650px;
  border: 1px solid black;
  border-radius: 100px 100px 15px 15px;
}
/* Cel to Feh superscript */
#select-temp-metric {
  display: inline;
  font-size: 60%;
  padding: 0;
  vertical-align: text-top;
}

/* Today weather left main section */
#today-app-box {
  margin: 0 auto;
  padding: 10px 10px;
}
#today-weather-icon {
  font-size: 60px;
  text-align: right;
  vertical-align: top;
  color: grey;
}
.today-min-max-temp,
#today-weather-desc {
  font-size: 12px;
  text-transform: capitalize;
}
.today-temp {
  font-size: 25px;
  font-weight: 500;
}
.disableLink {
  cursor: default;
  color: black;
}
.today-temp-list {
  list-style: none;
  text-align: left;
  padding-left: 0;
}
/* Today weather right details section */
.tbody {
  padding: 10px 10px;
  font-size: 14px;
  line-height: 10px;
  margin-top: 40px;
}
.table-left {
  text-align: right;
  border-right: 2px dotted lightgrey;
  border-bottom: none;
}
.table-right {
  border-bottom: none;
}

/* Next 5 days forecast section */
.next-5days-forecast {
  text-align: center;
  margin: 20px auto;
  font-size: 14x;
}
.next-5days-icons {
  font-size: 33px;
}

/* Footer */
footer {
  text-align: right;
  font-size: 10px;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.location::before {
  font: var(--fa-font-solid);
  content: "\f3c5";
}
